body {
    background-color: rgb(148, 148, 148);
}

.header-content {
    text-align: center;
}

.btn {
    background: transparent;
    border: none;
    background-color: rgb(255, 174, 0);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

/*Javascript*/
.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.random_cat {
    width: 40%;
}

img {
    max-width: 700px;
    height: 30rem;
}